<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Přidání uživatele</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        window.onload = async () => {
            userData = await window.localData.getLoadedUserData();
            departments = await window.serverRequests.getAllDepartments();

            for (const item of departments) {
                document.getElementById('department').insertAdjacentHTML(
                    'beforeend',
                    `<option value="${item.id}">${item.name} (id: ${item.id})</option>`
                )
            }
        }

        async function addNewUser() {
            try {
                const name = document.getElementById('name').value;
                const rodCislo = document.getElementById('rodCislo').value;
                const firstName = document.getElementById('firstName').value;
                const lastName = document.getElementById('lastName').value;
                const password = document.getElementById('password').value;
                const department = document.getElementById('department').value;
                const rights = document.getElementById('rights').value;


                if (rodCislo == 0)  {
                    displayBanner('warning', 'rodCislo musí být větší než 0');
                    return;
                }
                if (name == '')  {
                    displayBanner('warning', 'jmeno musí obsahovat text');
                    return;
                }
                if (firstName == '')  {
                    displayBanner('warning', 'firstName musí obsahovat text');
                    return;
                }
                if (lastName == '')  {
                    displayBanner('warning', 'lastName musí obsahovat text');
                    return;
                }
                if (password == '')  {
                    displayBanner('warning', 'password musí obsahovat text');
                    return;
                }

                await window.serverRequests.addNewUser({
                    department: department, 
                    name: name,
                    rodCislo: rodCislo,
                    rights: rights,
                    firstName: firstName,
                    lastName: lastName,
                    password: password
                })

                displayBanner('info', 'Uživatel byl přidán')

            } catch (error) {
                displayBanner('danger', 'Uživatele se nepodařilo přidat')
            }
        }

        function displayBanner(type, message) {
            const html =
                `<div id="errorBanner" class="row align-items-center"><div class="col"></div>
            <div class="alert alert-${type} shadow col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4" role="alert">${message}</div>
            <div class="col"></div></div>`;

            document.getElementById('mainCard').insertAdjacentHTML('beforeBegin', html);

            setTimeout(() => {
                document.getElementById('errorBanner').remove()
            }, 5000);
        }

    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MediTrash4+</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"
                            onclick="window.router.goToProfilePage()">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"
                            onclick="window.router.goToAddUserPage()">Přidat uživatele</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="window.router.goToAddRecordPage()">Vložit
                            záznam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="window.router.goToRecordViewPage()">Přehled záznamů</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="window.router.exitToLogin()">Odhlásit se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
    <div id="mainCard" class="row align-items-center">
        <div class="col"></div>
        <div class="card shadow col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4">
            <div class="card-body">
                <h4 class="card-title mb-3">Vložení záznamu</h4>
                <div class="mb-3 row">
                    <label for="name" class="col-sm-4 col-form-label">Uživatelské jméno</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="rodCislo" class="col-sm-4 col-form-label">Rodné číslo</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="rodCislo" value="">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="department" class="col-sm-4 col-form-label">Oddělení</label>
                    <div class="col-sm-8">
                        <select  class="form-control" id="department" value="">
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="rights" class="col-sm-4 col-form-label">Práva</label>
                    <div class="col-sm-8">
                        <select  class="form-control" id="rights" value="">
                            <option value="1">Uživatel</option>
                            <option value="2">Administrator</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="firstName" class="col-sm-4 col-form-label">Křestní jméno</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="firstName" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="lastName" class="col-sm-4 col-form-label">Příjmení</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="lastName" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-4 col-form-label">Heslo</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="password" value="">
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-primary" onclick="addNewUser()">Vložit záznam</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row align-items-center">
        <div class="col"></div>
        <div id="error_alert"
            class="alert alert-danger shadow invisible col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4 mt-3" role="alert">
        </div>
        <div class="col"></div>
    </div>
    </div>
</body>

</html>